@import '~normalize.css';

// Override variables here
// You can add new ones or update existing ones:

$orange: #FF613F;
$primary: $orange;
$body-background: #FFFFFF;
$background: #FFFFFF;
// $family-serif: "Georgia", serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

// $family-primary: $family-serif; // Use the new serif family

@import '~bulma';