.section {
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

.inner {
  position: relative;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 640px) {
  .inner {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

@media (min-width: 768px) {
  .inner {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .inner {
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -0.025em;
  font-weight: 800;
  color: var(--color-primary-900);
}

:global(.dark) .title {
  color: var(--color-primary-50);
}

@media (min-width: 640px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.grid {
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  display: grid;
  border-top: 2px solid var(--color-gray-200);
  gap: 4rem;
}

.grid > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 3rem;
  }
}
