/* Design tokens */
:root {
  --color-primary-50: #f4f4f4;
  --color-primary-300: #9ebba9;
  --color-primary-600: #52777d;
  --color-primary-900: #192c3b;

  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-900: #111827;

  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Reset and shared document defaults */
*,
*::after,
*::before,
*::backdrop,
*::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-gray-200, currentcolor);
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--font-sans);
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea,
::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  background-color: transparent;
  opacity: 1;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
}
