.recipeImageFull {
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipePlaceholder {
  background-color: var(--color-gray-200);
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-500);
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
