@import '~normalize.css';

// Override variables here
// You can add new ones or update existing ones:

$P1: #000000;
$P2: #192C3B;
$P3: #52777D;
$P4: #9EBBA9;
$P5: #F4F4F4;

$primary: $P1;
$light: $P5;
$dark: $P2;
$link: $P2;
$info: $P4;
$background: $P5;
$body-background-color: $P5;
$navbar-background-color: $P2;
$navbar-item-color: $P5;
$footer-background-color: $P2;
$family-sans-serif: 'Varela Round', sans-serif;
$family-serif: 'Lora', serif; // Add a serif family
$family-primary: $family-sans-serif;

@import '~bulma';
@import '~prismjs/themes/prism-twilight';

.token.number {
    background-color: inherit;
    font-size: inherit;
    display: inline-block;
    height: inherit;
    min-width: inherit;
    margin-right: 0px;
    padding: 0px;
}

.copyright {
    color: $navbar-item-color
}
