@import '~normalize.css';

// Override variables here
// You can add new ones or update existing ones:

$primary: #0041A4;
$info: #0060F0;
$success: #14A900;
$warning: #F0B800;
$danger: #E80000;
$text: #5C5C5C;
$body-background: #FFFFFF;
$background: #FFFFFF;
$family-sans-serif: 'Varela Round', sans-serif;
$family-serif: 'Lora', serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

// $family-primary: $family-serif; // Use the new serif family

@import '~bulma';
@import '~prismjs/themes/prism-twilight';

.token.number {
    background-color: inherit;
    font-size: inherit;
    display: inline-block;
    height: inherit;
    min-width: inherit;
    margin-right: 0px;
    padding: 0px;
}


