.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary-50);
}

:global(.dark) .pageWrapper {
  background-color: var(--color-primary-900);
}
