name: build and push to production

on:
  push:
    branches:
      - master

jobs:
  build-production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: yarn cache directory
        id: yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: yarn cache
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn-${{ hashFiles('**/yarn.lock') }}
      - name: gatsby .cache
        uses: actions/cache@v1
        id: gatsby-cache-folder
        with:
          path: .cache
          key: cache-gatsby
          restore-keys: cache-gatsby-${{ hashFiles('**/yarn.lock') }}
      - name: gatsby public folder
        uses: actions/cache@v1
        id: gatsby-public-folder
        with:
          path: public/
          key: public-gatsby
          restore-keys: public-gatsby-${{ hashFiles('**/yarn.lock') }}
      - run: yarn
      - name: build
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
        run: yarn build
      - name: deploy
        if: success()
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: npx netlify-cli deploy --dir=public --prod --message "${{ github.event.head_commit.message }}"
