name: build and push draft

on: pull_request

jobs:
  build-draft:
    environment: beta
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - name: compress images
        uses: calibreapp/image-actions@1.1.0
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          jpegQuality: "99"
          pngQuality: "99"
          webpQuality: "99"
      - run: npm ci
      - name: build
        run: npm run build
        env:
          NODE_ENV: production
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      - name: deploy
        if: success()
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: |
          wget https://github.com/lannonbr/netlify_deploy/releases/download/netlify_deploy-v0.3.0/netlify-deploy-linux-0.3.0.tar.gz
          tar -xvf netlify-deploy-linux-0.3.0.tar.gz
          ./release/netlify_deploy --path public --prod 2>&1 | tee -a ./notes.md
      - name: comment PR
        uses: machine-learning-apps/pr-comment@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: ./notes.md
