name: build and push to production

on:
  push:
    branches:
      - production
  workflow_dispatch:
  repository_dispatch:
    types: [rebuild-website-from-airtable-hook]

jobs:
  build-production:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - run: npm ci
      - name: build
        run: netlify build -o
        env:
          NODE_ENV: production
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      - name: deploy
        if: success()
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: netlify deploy --dir=public --prod --message "${{ github.event.head_commit.message || github.event.ref }}"
